/* fade */
.fade-enter-active,
.fade-leave-active {
	transition: all .3s;
}

.fade-enter-active{
	opacity: 0;
}
.fade-leave-to {
	opacity: 0;
}

/* fade-main */
.fade-main-enter-active,
.fade-main-leave-active {
	transition: all .3s;
}

.fade-main-enter-active{
	opacity: 0;
	transform: translateX(-30px);
}
.fade-main-leave-to {
	opacity: 0;
	transform: translateX(30px);
}

/* zoom-in-bottom */
.zoom-in-bottom-enter-active {
  animation: zoom-in-bottom .2s 
}

.zoom-in-bottom-leave-to {
  animation: zoom-in-bottom .2s reverse
}

@keyframes zoom-in-bottom{
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: center bottom;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: center bottom;
  }
}

/* breadcrumb */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
	transition: all .5s;
}

.breadcrumb-enter-active{
	opacity: 0;
	transform: translate(20px, -5px);
}

.breadcrumb-leave-to {
	opacity: 0;
	transform: translateX(20px);
}

.breadcrumb-move {
	transition: all .5s;
}

.breadcrumb-leave-active {
	position: absolute;
}